<template>
<div>
    <form @submit="submit($event)">
        <div class="field">
            <label class="label">{{editAddText}} o nome da empresa</label>
            <div class="control">
                <input class="input" v-model="customer.nome_empresa" type="text" placeholder="Nome da empresa" required>
            </div>
        </div>
        <div class="field">
            <label class="label">{{editAddText}} o CNPJ</label>
            <div class="control">
                <input class="input" v-model="customer.numero_cnpj" type="text" placeholder="CNPJ" required v-mask="['###.###.###-##', '##.###.###/####-##']" >
            </div>
        </div>
        <div class="field">
            <label class="label">{{editAddText}} o produto</label>
            <div class="control">
                <input class="input" v-model="customer.nome_produto" type="text" placeholder="Produto" required>
            </div>
        </div>

        <div class="field">
            <label class="label">{{editAddText}} o serviço</label>
            <div class="control">
                <input class="input" v-model="customer.nome_servico" type="text" placeholder="Serviço" required>
            </div>
        </div>

        <div class="field is-grouped" style="margin-top:20px">
            <div class="control">
                <button class="button is-link">Salvar</button>
            </div>
        </div>
    </form>
</div>
</template>

<script>
export default {
    name:'CustomerInputForm',
    props:['editId'],
    data(){
        return {
            customer:{
                nome_empresa:'',
                numero_cnpj:'',
                nome_produto:'',
                nome_servico:''
            }
        }
    },
    watch:{
        editId(val){
            if(val){
                let current = this.$store.state.customers.filter(i => {
                    if(i.id==val) return true;
                    else false;
                })[0]

                this.customer.nome_empresa = current.nome_empresa;
                this.customer.numero_cnpj = current.numero_cnpj;
                this.customer.nome_produto = current.nome_produto;
                 this.customer.nome_servico = current.nome_servico;
            }else{
                this.resetFormData()
            }
        }
    },
    computed:{
        currentDate(){
            return new Date().toString();
        },
        editAddText(){
            return this.editId ? "Editando":"Insira";
        }
    },
    methods:{
        resetFormData() {

                this.customer = {
                nome_empresa:'',
                numero_cnpj:'',
                nome_produto:'',
                nome_servico: ''
                }
        },
        submit(event){
            event.preventDefault();  
            var payload = this.customer;
            
            if(!this.editId){
                payload['id'] =  this.$store.state.customers.length!=0? Math.max(...this.$store.state.customers.map(i => i.id)) + 1 : 0;
                const customer = {...payload};
                this.$store.dispatch('addCustomer',customer);
                this.resetFormData()
            }else{
                payload['id'] =   this.editId;
                const customer = {...payload}
                this.$store.dispatch('editCustomer',customer);                
            }
        }
    }
}
</script>