<template> 
<div class="columns">
    <div class="column is-three-fifths">
        <table v-if="data.length!=0" class="table">
            <thead>
                <tr>
                    <th v-for="(column,index) in columns" :key="index">{{column}}</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row,index_row) in data" :key="index_row" v-bind:class="{ editing: editId === row.id }" >
                    <td v-for="(column,index) in columns" :key="index"> {{row[column]}} </td>    
                    <td>
                        <p class="buttons">
                            <a class="button is-small is-primary" @click="editCustomer(row)">Editar</a>
                            <a class="button is-small is-danger" @click="deleteCustomer(row.id)">Deletar</a>
                        </p>
                    </td>   
                </tr>
            </tbody>
        </table> 
        <div v-else class="notification is-danger">
            Atenção!<strong> Você não possui nenhuma empresa cadastrada </strong>
        </div>
    </div>
    <div class="column">
        <a href="#" v-show="showAdd == false" @click="addCustomer()" class="button is-small is-danger" style="float:right;margin-top:-20px" >X</a>
        <CustomerInputForm :editId="editId"></CustomerInputForm>
    </div>
</div>    
</template>

<script>

import CustomerInputForm from '../components/CustomerInputForm.vue';

export default {
    name:'Customer',
    components:{
        CustomerInputForm,
    },
    data() {
            return {
                showAdd:true,
                editId:'',
            }
        },
    computed:{
            data(){
                return this.$store.state.customers;
            },
            columns(){
                return this.$store.state.customers.length>0 ?
                       Object.keys(this.$store.state.customers[0]) : []
            }
        },
    methods:{
            editCustomer(customer){
                this.editId = customer.id;
                this.showAdd = false;
            },
            addCustomer(){
                this.editId = "";
                this.showAdd = true;
            },
            deleteCustomer(customer){
                this.$swal({
                    title: 'Você tem certeza?',
                    text: "Você não podera reverter isso!",
                    type: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Sim, eu quero apagar!'
                    }).then((result) => {
                    if (result.value) {
                        
                        this.$store.dispatch('removeCustomer',customer).then((res)=>{
                            if(res) this.$swal(
                                    'Removido!',
                                    'Dado removido com sucesso.',
                                    'success'
                                    )
                            else this.$swal(
                                    'Error!',
                                    'Erro ao apagar os dados.',
                                    'error'
                                    )                                 
                        });
                        

                    }
                    })
            }
        }
        
}
</script>
<style>
.editing {
    background-color: #fff8db;
}
</style>
