<template>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="title">Seja bem-vindo ao sistema de cadastro de empresa</p>
      <p class="heading">Você tem {{data_customer}} cadastro(s) </p>
    </div>
  </div>
</nav>
</template>

<script>

export default {
    name:'Home',
    computed:{
      data_customer(){
        return this.$store.state.customers.length;
      }
    }
}
</script>

<style>

</style>
